extends layout

block content  
  // Main content
  .content
    .container(style='max-width: 100% !important;')
      .row
        .col-md-12(style='text-align: center;')
          .card
            .card-header
              h3.card-title(style='font-weight:bolder;') Predicted Images
              button.btn.btn-success.float-right(style='margin-right:10px;', onclick='refreshEnrolled()') Refresh Images
            .card-body
              each row in details
                .col-sm-2(style="border: solid 3px (#{row.isMatched}.status ?'red': 'green')")
                  label(style='display: flow-root; font-size: small;', for=_id)=row.day + '/' + row.month + '/' + row.year + ' ' + row.hour + ':' + row.min
                  img.img-fluid(src=row.image_path, alt='Photo', id=row._id)
                  label(for=_id)=row.matched_name
                  br
                  label(for=_id)= 'Similarity: '+row.similarity
                  label(for=_id)= 'Confidance: '+row.confidance